.tituloacc {
  float: left; width: 60%; margin-top: -8px; margin-left: 10px; font-family: c4y2, Arial, Verdana; font-size: 14px;
}
.descacc {
  float: right; width: 30%; margin-top: -5px; font-family: c4y2, Arial, Verdana; font-size: 10px; text-align: right; margin-right: 20px; font-weight: 100; color: #6aa11a;
}

.preview
{
width:200px;
border:solid 1px #dedede;
padding:10px;
}
#preview
{
color:#cc0000;
font-size:12px
}

@font-face {
  font-family: "c4y1";
  src: url(http://capamaniacos.com.br/css/fontes/alrightsans-regularitalic-v3.ttf);
}
@font-face {
  font-family: "c4y2";
  src: url(http://capamaniacos.com.br/css/fontes/alrightsans-bolditalic-v3.ttf);
}
.fontc4y1 { 
  font-family: "c4y1", Arial, Verdana;
  font-size: 12px;
}

.fontc4y2 { 
  font-family: "c4y2", Arial, Verdana;
  font-size: 14px;
  color: #6aa11a;
}
body, p {
font-family: "c4y1", Arial, Verdana;
margin:0px; padding:0px;
background-color: transparent;
}

.wrap-app {
	width: 800px;
	height: 800px;
  border: solid 10px #F9F9F9;
  border-radius: 4px;
  padding: 10px;
  background-color: #FFFFFF;
}

.c4ysteptitle {
  width: 320px;
  margin-left: 5px;
  padding: 5px;
  color: #6aa11a;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
  padding-left: 35px;
}

.c4ysteptext {
  float: left; width: 340px; margin-left: 20px; margin-top: 20px;margin-bottom: 10px;
}

.c4ystepnumber {
  float: left;
  width: 15px;
  height: 20px;
  background-color: #6aa11a;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-top: 5px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}

.mascarasuperior {
      position: absolute;
      top: 33px;
      left: 441px;
      width: 342px;
      height: 540px;
      z-index: 10;
      background-repeat: no-repeat;
      background-image: url('/app/img/mask-iphone4-top.png');
}
