@font-face {
  font-family: "Open Sans";
  src: url(fonts/alrightsans-regularitalic-v3.ttf);
}
@font-face {
  font-family: "c4y2";
  src: url(fonts/alrightsans-bolditalic-v3.ttf);
}
.fontc4y1 {
  font-family: "Open Sans", Arial, Verdana;
  font-size: 12px;
}

.fontc4y2 {
  font-family: "c4y2", Arial, Verdana;
  font-size: 14px;
  color: #6aa11a;
}

body {
    color: #7f7f7f;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Open Sans", Arial, Verdana;
    margin: 0px;
    padding: 0px;
    /* background:url(../image/bg.jpg) repeat-x left top #fff; */
    font-size:12px;
    line-height:18px;
    min-width:1024px;
}

.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}